page-login {
.loginContent{
    margin: 0 auto;
    width: 100%;
  }
.logo{
    float: left;
    max-width:217px;
    height:auto;
    margin:76px 79px;
}
.loginTitle{
    padding: 0;
    margin-bottom: 20px;
    font-size: 20px;
    color: #8f9296;
    position: relative;
    left: 67px;
    width:100%; 
    font-weight: lighter;

}
input::placeholder{
    font-size: 15px;
    font-family: 'segoe ui' 'arial' 'interstate';
    font-weight: 400;
}
.loginInput{
  
    padding-left: 20px;
    border-radius: 36px;
    min-height: 35px;
    width:249px;
    margin:0 67.5px 15px 62.5px; 
    font-size: 20px;
}
.page-button1{
    font-size: 15px;
    width: 249px;
    border-radius: 36px;
    margin:5px 67.5px 20px 62.5px; 
    min-height: 35px;
    color: #fff;
    font-weight: lighter;
    background: linear-gradient(90deg,#64A70B 2%,#00667f,#00667f,#00667f);
    
}
.forgotPassword{
    text-align: left;
    font-size: 15px;
    color: #0099cc;
    position: relative;
    left: 67px;
    margin:0;
}
.footer{
    font-size: 10px;
    color: #8f9296;
    text-align: center;
    margin: 89px 0 0 0;
}
.text-input{
    margin: 0 !important;
}
}
