page-rootmodule{
    padding: 0 !important;
    margin: 0 !important;
    border: none !important;
    .popOverDisplay .label{
        color: #000 !important;
        font-size: 20px;
        border: none !important;
       }
}

