page-home {
  
.label{
    text-align: -webkit-left;
}
.container{
    width: 100%;
    padding: 0 10px !important;

}
.back-button.show-back-button{
    display: none;
}
.visits{
     box-shadow: 0px 0 5px 1px #888888;
     width: calc(100% - 20px);
     margin: 10px 10px;
     float: left;
     border-radius: .25em;
    //  min-height: 50%;
}
.myVisitHeader{
    float: left;
    width: 100%;
  
    // margin-bottom:135px; 
}
.detailswindow{

    float: left;
    width: 100%;
    border-radius: 2px;
    
}

.label{
    display: none;
}
.dateVenuDetails{
    
    width: 100%;
    padding: 0;
    float: left;
    margin-bottom: 5px;
}
.card{
    padding: 0;
    margin: 0;
    width:100%; 
    background: transparent !important;
    box-shadow: none;
}
 
.date{
    float: left;
    width: 50%;
    text-align: center;
    border-right: 1px dashed gainsboro;

}
.venu{
    float: left;
    width: 50%;
    text-align: center;
  
}
.daysLeft i{
    color: #f4b642;
    position: relative;
    left: -3px;
    font-size: 20px;
    /* top: 0px; */
}
.dateContainer{
    width:100% !important;
    margin: 10px 0;
    float: left;
}
.viewDetals {
    float: left;
    min-height: 35px;
    width: 100%;
    color: #fff;
    font-size: 15px;
    background: linear-gradient(90deg,#64A70B 2%,#00667f,#00667f,#00667f,#00667f,#00667f);
}
.fa{
    margin-bottom:10px; 
    font-size: 30px;
    color: #888684;
}
.arrowRIght{
    font-size: 17px !important;
    margin:0 !important;
    
   }
.detailsLi{
    background:#000 !important;
    margin: 5px 10px;
    padding: 0;
    width: 95%;
    float: left;
    opacity: 0.8;
    border-radius: 7px;
    color: #fff;
    border: none !important;
}
.item-inner{
    border: none !important;
}
.card-header{
    color: #fff !important;
    font-weight: lighter;
    font-size: 15px;
    padding:15px 0 15px 65px; 
    width:100%;
    border-bottom: 1px solid gainsboro ;
    
}
.subtitlesContainer{
    width: 78%;
    margin: 0 auto; 
}
.card-header p{
    color: #fff !important;
    font-weight: lighter;
    font-size: 15px;
    padding:0px 0 7px 40px; 
    width:100%;
}
.item-inner{
    width: 100% !important;
    padding: 0 !important;
}
.list{
    list-style-type: none;
    width:100%;
    padding: 0;
    float: left;
    margin: 0px;
    border-bottom: none;
    
}
.listMyVisit{
    padding-top: 170px;
    
 
}
.myVisitHeader h4{
    margin: 12.5px 10px;
    float: left;
    font-size: 15px;
    color: #00677f;
    font-weight: bold;
  }
 .item-block:first-child {
     border:0;
}
.daysLeft{    
    columns: #000000;;
    margin: 10px 10px;
    font-size: 15px;
    float: right;
    

}
 .userDetails{
     background: #000 !important;
     width: calc(100% - 20px);
     margin: 5px 10px;
     padding: 0;
     border-radius:.25em; 
 }
 .userDetails1{
    //background: #000 !important
    display:inline-block;
}
.avatar{
  max-width: 100% !important;
  display:inline-block;
  width:80%;
  
}
.subTitle{
    text-align: center;
    margin-bottom: 10px;
    font-size: 12px;
    color: #fff;
    //font-family: Interstate;
    font-weight: lighter;
}
.info{
    font-size: 12px !important;
    color:#a6a6a6;
}

.subTitle span{
     font-size: 17px;
     color: #fff;
}
.pastVisitHeader{
    float: left;
    width: 100%;
}
.closed{
    width: 80px;
    height: 23px;
    font-family: 'Segoe UI';
    border-radius: 10px;
    background-color: #fff;
    border: 1px solid #53565a;
    color: #53565a;
    margin: 10px 10px;
    font-size: 9px;
    float: right;
    padding: 4px 15px;
}
.pastVisitHeader h4 {
margin: 12.5px 10px;
float: left;
font-size: 15px;
color: #00677f;
font-weight: bold;
}
.listPast{
    padding-top: none !important;
}
.pastItem{
    padding:0;
}
.pastVisitHeading{
    // font-family: Interstate;
    font-size: 15px;
    color:#000 !important;
    padding:10px 0px 10px 10px;
    border:none;
    font-weight: bold;
}
.icon-color{
    color: #000;
}
.calendar{
    padding:1px;
}
.location{
    padding:6px;
}
.kaddu{
    font-weight:bold;
}
.pastView{
    float: right;
    background: #fff;
    border:none;
    color:#00677f;
    font-weight:lighter;
}
.pastCard{
    float:left;
    display:inline-block;
}
.pastContent{
    width:100%;
    float:left;
}
.mainLogo{
    max-width: 100%;
    height: 35px !important;
    float: left;
    margin: 7px 0 0 10px !important;
}
.header{
    float: left;
}
.notifiation{
    font-size:30px;
    position: relative;
    top:5px;
    right: -15px;
}
.profile{
    float: right;
}
.logoTitle{
    padding: 0 !important;
    display: inline-block;
}
.count{
    background: linear-gradient(180deg,#64A70B 2%,#00667f,#00667f,#00667f,#00667f);
  padding: 5px;
  border-radius: 50%;
    color: #fff;
    position: relative;
    left: 0px;
    top: -6px;
}
.popOver{
    font-size: 15px !important;
    display: inline-block;
    position: relative;
    top: 1px;
    left: -6px;
    font-weight: lighter;
}
}

